/* Grundlegende Stile für Mobilgeräte (Mobile First) */
html, body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

p {
    color: black;
}

/* Header */
.titelSeiteTitel, .pageTitle {
    position: sticky;
    top: 0;
    background-color: black;
    color: lightblue;
    padding: 1em;
    
    text-align: center;
}

.titelSeiteTitel {
    font-size: 10pt; /* Kleiner auf mobilen Geräten */
}

.pageTitle {
    font-size: 24pt; /* Reduzierte Größe für Mobilgeräte */
}

/* Layout für Mobilgeräte */
.main {
    display: block; /* Einspaltiges Layout */
}

.content {
    background-color: rgb(20, 209, 216);
    padding: 1em;
    width: 100%; /* 100% Breite für Mobilgeräte */
}

.navigation {
    background-color: rgb(170, 209, 216);
    padding: 1em;
    color: black;
    width: 100%; /* Navigation nimmt volle Breite auf mobilen Geräten */
}

.navigation .navPart {
    font-size: 12pt;
    font-weight: bold;
    padding: 0.25em;
}

.navigation .navList {
    list-style-type: square;
}

.navigation a {
    text-decoration: none;
    color: black;
}

.navigation a:hover {
    color: rgb(195, 139, 191);
}

/* Figure Styles */
.figure {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.figure .img {
    vertical-align: top;
}

.figcaption {
    font-style: italic;
    text-align: center;
}

/* Code Block */
.code {
    color: rgb(70, 119, 176);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: medium; /* Anpassung für kleinere Bildschirme */
}

/* Footer */
footer {
    text-align: center;
}

/* Back to Top Button */
#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 55px;
    right: 30px;
    z-index: 99;
    background-color: black;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#backToTopBtn.show {
    display: block;
    opacity: 1;
}

#backToTopBtn:hover {
    background-color: #333;
}

/* GitHub Logo */
.githublogo {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

/* Media Queries für Tablets und Desktops */
@media (min-width: 768px) {
    .main {
        display: flex; /* Zweispaltiges Layout auf größeren Bildschirmen */
    }

    .content {
        width: 80%; /* Content bekommt mehr Platz */
    }

    .navigation {
        width: 20%; /* Navigation wird schmaler */
    }

    .titelSeiteTitel {
        font-size: 5pt; /* Größere Schriftgröße für Tablets */
    }

    .pageTitle {
        font-size: 40pt;
    }

    .code {
        font-size: large; /* Größere Schriftgröße für Code auf größeren Bildschirmen */
    }
}

@media (min-width: 1200px) {
    /* Für sehr große Bildschirme */
    .titelSeiteTitel {
        font-size: 24pt;
        padding: 1.5em;
    }

    .pageTitle {
        font-size: 48pt;
    }

    .content {
        padding: 3em;
    }
}


